.vscode
ansible_catalystwan_module.log
ansible_catalystwan.log
ansible.log
poetry.lock
run
playbooks/shared/
playbooks/results/
playbooks/aws/results/
playbooks/azure/results/
vault-password.txt
playbooks/catalystwan.log
playbooks/sdwan_config_dev.yml
playbooks/templates_examples/output_backup_device_configuration
playbooks/templates_examples/output_backup_running_config
