.vscode
ansible.log
poetry.lock
run
playbooks/shared/
playbooks/results/
playbooks/aws/results/
playbooks/azure/results/
playbooks/ansible_catalystwan.log
playbooks/aws/ansible_catalystwan.log
playbooks/azure/ansible_catalystwan.log
playbooks/ansible_catalystwan_module.log
playbooks/azure/ansible_catalystwan_module.log
playbooks/aws/ansible_catalystwan_module.log
playbooks/aws/vault-password.txt
playbooks/azure/vault-password.txt
playbooks/catalystwan.log
playbooks/sdwan_config_dev.yml
