adal==1.2.7
annotated-types==0.6.0
ansible==9.5.1
ansible-core==2.16.6
applicationinsights==0.11.10
argcomplete==1.12.3
args==0.1.0
attrs==21.4.0
azure-cli-core==2.34.0
azure-cli-telemetry==1.0.6
azure-common==1.1.11
azure-containerregistry==1.1.0
azure-core==1.28.0
azure-graphrbac==0.61.1
azure-identity==1.7.0
azure-keyvault==4.2.0
azure-keyvault-certificates==4.7.0
azure-keyvault-keys==4.8.0
azure-keyvault-secrets==4.7.0
azure-mgmt-apimanagement==3.0.0
azure-mgmt-authorization==2.0.0
azure-mgmt-automation==1.0.0
azure-mgmt-batch==16.2.0
azure-mgmt-cdn==11.0.0
azure-mgmt-compute==26.1.0
azure-mgmt-containerinstance==9.0.0
azure-mgmt-containerregistry==9.1.0
azure-mgmt-containerservice==20.0.0
azure-mgmt-core==1.3.0
azure-mgmt-cosmosdb==6.4.0
azure-mgmt-datafactory==2.0.0
azure-mgmt-datalake-store==1.0.0
azure-mgmt-devtestlabs==9.0.0
azure-mgmt-dns==8.0.0
azure-mgmt-eventhub==10.1.0
azure-mgmt-hdinsight==9.0.0
azure-mgmt-iothub==2.2.0
azure-mgmt-keyvault==10.0.0
azure-mgmt-loganalytics==12.0.0
azure-mgmt-managedservices==6.0.0
azure-mgmt-managementgroups==1.0.0
azure-mgmt-marketplaceordering==1.1.0
azure-mgmt-monitor==3.0.0
azure-mgmt-network==19.1.0
azure-mgmt-notificationhubs==7.0.0
azure-mgmt-nspkg==2.0.0
azure-mgmt-privatedns==1.0.0
azure-mgmt-rdbms==10.0.0
azure-mgmt-recoveryservices==2.0.0
azure-mgmt-recoveryservicesbackup==3.0.0
azure-mgmt-redis==13.0.0
azure-mgmt-resource==21.1.0
azure-mgmt-search==8.0.0
azure-mgmt-servicebus==7.1.0
azure-mgmt-sql==3.0.1
azure-mgmt-storage==19.0.0
azure-mgmt-trafficmanager==1.0.0b1
azure-mgmt-web==6.1.0
azure-nspkg==2.0.0
azure-storage-blob==12.11.0
bcrypt==4.1.2
boto3==1.34.78
botocore==1.34.78
catalystwan==0.34.0.dev1
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
ciscoconfparse==1.9.41
clint==0.5.1
cryptography==42.0.5
Deprecated==1.2.14
dnspython==2.6.1
flake8==7.0.0
flake8-quotes==3.4.0
hier-config==2.2.3
humanfriendly==10.0
idna==3.7
isodate==0.6.1
Jinja2==3.1.3
jmespath==1.0.1
knack==0.9.0
loguru==0.7.2
MarkupSafe==2.1.5
mccabe==0.7.0
msal==1.23.0
msal-extensions==0.3.1
msrest==0.7.1
msrestazure==0.6.4
netaddr==1.2.1
oauthlib==3.2.2
packaging==23.2
paramiko==2.12.0
passlib==1.7.4
pkginfo==1.10.0
portalocker==1.7.1
psutil==5.9.8
pycodestyle==2.11.1
pycparser==2.22
pydantic==2.7.0
pydantic_core==2.18.1
pyflakes==3.2.0
Pygments==2.17.2
PyJWT==2.8.0
PyNaCl==1.5.0
pyOpenSSL==24.1.0
pyparsing==3.1.2
PySocks==1.7.1
python-dateutil==2.9.0.post0
PyYAML==6.0.1
requests==2.31.0
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
resolvelib==1.0.1
s3transfer==0.10.1
setuptools==69.5.1
six==1.16.0
tabulate==0.9.0
tenacity==8.2.3
toml==0.10.2
typing_extensions==4.11.0
urllib3==2.2.1
wrapt==1.16.0
xmltodict==0.13.0
