# .github/workflows/ansible-lint.yml
name: Ansible Lint

on: [pull_request, push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Run ansible-lint
        uses: ansible/ansible-lint@main # or version tag instead of 'main'
